<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./tests/bootstrap.php" backupGlobals="true" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">vendor</directory>
      <directory suffix=".php">tests</directory>
    </exclude>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Yii2 Robokassa Test Suite">
      <directory>./tests/unit</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
